certifi==2019.9.11
chardet==3.0.4
efficientnet==1.0.0
Flask==1.0.2
flask-restplus==0.13.0
idna==2.6
idna-ssl==1.1.0
iterative-stratification==0.1.6
itsdangerous==0.24
Jinja2==2.10
joblib==1.2.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==3.1.1
numpy==1.17.3
pandas==0.23.0
Pillow==6.2.0
pydicom==1.3.0
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.13.1
tqdm==4.36.1
Werkzeug==0.14.1