catboost==0.16.5
certifi==2019.9.11
chardet==3.0.4
Cython==0.28.2
cytoolz==0.9.0.1
efficientnet==1.0.0
Flask==1.0.2
flask-restplus==0.13.0
idna==2.6
idna-ssl==1.1.0
iterative-stratification==0.1.6
itsdangerous==0.24
Jinja2==2.10
joblib==0.13.2
json5==0.8.5
jsonschema==2.6.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lxml==4.2.1
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==3.1.1
nltk==3.3
numpy==1.17.3
numpydoc==0.8.0
pandas==0.23.0
Pillow==6.2.0
psutil==5.4.5
psycopg2==2.7.7
ptyprocess==0.5.2
pydicom==1.3.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.18.4
requests-oauthlib==1.2.0
retrying==1.3.3
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.13.1
tqdm==4.36.1
urllib3==1.22
Werkzeug==0.14.1